$primary-color: #328604;
$secondary-color: #eaad19;
$accent-color: #d92b04;
$bg-dark: #272822;
$bg-light: #fff;
$bg-light-30: #f2f2f2;

$primary-font: "Poppins", sans-serif;
$secondary-font: "Abhaya Libre", serif;
